<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4CbM0005RIi1KW_Cn5kJXFK4Xe24OR9E</string>
	<key>GCM_SENDER_ID</key>
	<string>386326010184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catchCase</string>
	<key>PROJECT_ID</key>
	<string>casshey-da211</string>
	<key>STORAGE_BUCKET</key>
	<string>casshey-da211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386326010184:ios:0fe2e2ec9635bf68c4fb7d</string>
</dict>
</plist>